

.jumbotron {
  position: relative;
  background-image: url(../images/books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}


.btn-lg {
  vertical-align: center;
  text-align: center;
  height: 12.5rem;
  width: 12.5rem;
  font-size: 2.5rem;
  border-top: 1px solid #154B9B;
  border-bottom: 1px solid #154B9B;
  border-left: 1px solid #154B9B;
  border-right: 1px solid #154B9B;
  border-radius: 50%;
}


.navbar {
  border-top: 1px solid #154B9B;
  border-bottom: 1px solid #154B9B;
}

.navbar-toggler-icon {
  font-size: 14px;
}
.nav-item, .nav-link  {
  font-weight: bold;
  font-family: 'Lora', serif;
}

.bio, h4, h2, h6 {
  font-family: 'Lora', serif;
}

.row {
  margin-bottom: 25px;
}

.photo {
  font-size: .85rem;
  margin-top: 10px;
}


